GATEWAY_PORT=[DESIRED_GATEWAY_PORT]
MAIN_SERVICE_PORT=[DESIRED_MAIN_SERVICE_PORT]
AUTH_SERVICE_PORT=[DESIRED_AUTH_SERVICE_PORT]

POSTGRES_USER=[DESIRED_POSTGRES_USER]
POSTGRES_PASSWORD=[DESIRED_POSTGRES_PASSWORD]

MAIN_SERVICE_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/main_service
AUTH_SERVICE_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/auth_service

# Frontend environment variable
VITE_PORT=[DESIRED_VITE_PORT]
VITE_API_URL=http://localhost:${GATEWAY_PORT}